@model IEnumerable<CampusPlacement.Models.JobPosting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EducationLevelID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EducationLevelID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostingID })
        </td>
    </tr>
}

</table>
