@model CampusPlacement.Models.Resume

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Resume</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobTitle)
                @Html.ValidationMessageFor(model => model.JobTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TargetCity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TargetCity)
                @Html.ValidationMessageFor(model => model.TargetCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TargetStateID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TargetStateID)
                @Html.ValidationMessageFor(model => model.TargetStateID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TargetCountryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TargetCountryID)
                @Html.ValidationMessageFor(model => model.TargetCountryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RelocationCountryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RelocationCountryID)
                @Html.ValidationMessageFor(model => model.RelocationCountryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TargetJobTypeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TargetJobTypeID)
                @Html.ValidationMessageFor(model => model.TargetJobTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EducationLevelID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EducationLevelID)
                @Html.ValidationMessageFor(model => model.EducationLevelID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExperienceLevelID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExperienceLevelID)
                @Html.ValidationMessageFor(model => model.ExperienceLevelID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResumeText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ResumeText)
                @Html.ValidationMessageFor(model => model.ResumeText)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CoverLetterText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CoverLetterText)
                @Html.ValidationMessageFor(model => model.CoverLetterText)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryID)
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubcategoryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubcategoryID)
                @Html.ValidationMessageFor(model => model.SubcategoryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostDate)
                @Html.ValidationMessageFor(model => model.PostDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
