@model CampusPlacement.Models.Resume

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resume</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetStateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetStateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetCountryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetCountryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelocationCountryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelocationCountryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetJobTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetJobTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationLevelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationLevelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExperienceLevelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExperienceLevelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumeText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumeText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverLetterText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverLetterText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubcategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubcategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResumeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
